[program:{name}]
command=/bin/python {base_dir}/manage.py -s {ip} -n {name}
directory={base_dir}

redirect_stderr=true
stdout_logfile={base_dir}/log/output_job.log
stderr_logfile={base_dir}/log/error_job.log
 
user=root
autostart=true
autorestart=true
priority=991

stopsignal=KILL
killasgroup=true
stopasgroup=true